<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KBCorp Portfolio</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <a href="#home" class="logo">
            <img src="https://raw.githubusercontent.com/kibrsifr/NodeJS-Portfolio-Website/main/resources/logoheader.png" alt="KBCORP PORTFOLIO Logo">
        </a>
        <nav>
            <a href="#about">About</a>
            <a href="/projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <div class="main-content" id="home">
        <div class="circle">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/logoface_colored.gif?raw=true" alt="LogoFace">
        </div>

            <div class="text-content">
                <h1>Welcome to the KBCorp Portfolio</h1>
                <p>A portfolio by KB, focusing on JavaScript, NodeJS, and MongoDB.</p>
            </div>
    </div>
    <section class="section-about" id="about">
        <div class="maincontent-about">
            <div class="about-content">
                <h1>About KB</h1>
                <p>KB is currently studying Information Technology at De La Salle University. With a strong foundation in JavaScript and Node.js, KB blends creativity with technical expertise. Passionate about both art and science, KB continuously seeks to expand their skills and stay at the forefront of technological advancements.</p>
            </div>
            <div class="aboutbox">
                <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/aboutbox.gif?raw=true" alt="Placeholder">
            </div>
            <br>
            <br>
        </div>
    </section>

    <section class="section projects-preview" id="projects">
        <h2>Projects Preview</h2>
        <div class="gallery">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project1.png?raw=true" alt="Project 1">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project2.png?raw=true" alt="Project 2">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project3.png?raw=true" alt="Project 3">
        </div>
        <a href="/projects" class="btn">View all Projects</a>
    </section>

    <section class="contact" id="contact">
        <div class="contact-container">
            <div class="contact-image">
                <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/logoface_colored.gif?raw=true"" alt="LogoFace">
            </div>
            <div class="contact-content">
                <h2>Contact Me</h2>
                <div class="contact-links">
                    <a href="https://github.com/kibrsifr/" target="_blank" class="contact-link">
                        <i class="fab fa-github"></i>
                        GitHub
                    </a>
                    <a href="https://dlsud.edu.ph" target="_blank" class="contact-link">
                        <i class="fas fa-school"></i>
                        School
                    </a>
                    <a href="tel:+639164188181" class="contact-link">
                        <i class="fas fa-phone"></i>
                        +63 916 4188181
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    
    
    

    <script src="/script.js"></script>
</body>
</html>
