<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle Calculator</title>
    <link rel="stylesheet" href="styles-projectpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="/project1" class="nav-button"><i class="fas fa-arrow-left"></i></a>
            <a href="/" class="logo">
                <img src="https://raw.githubusercontent.com/kibrsifr/NodeJS-Portfolio-Website/main/resources/logoheader.png" alt="KBCORP PORTFOLIO Logo">
            </a>
            <a href="/project3" class="nav-button"><i class="fas fa-arrow-right"></i></a>
        </nav>
    </header>
    <div class="main-content">
        <div class="text-section">
            <h1>Circle Calculator</h1>
            <h2>And an Ordertaker...</h2>
            <p>This project encompassed two primary objectives. The first task involved designing a program, specifically an order form, based on given requirements as illustrated in the second image. </p>
            <p>The second challenge focused on creating a web application to compute circle measurements. Given a user-inputted radius, the application calculated and displayed the circumference, area, and diameter, utilizing JavaScript's Math library.</p>
            <p>The design incorporated dynamic circle generation within the results section. Building upon my previous experiences with circular elements, this project offered a fulfilling opportunity to apply those design concepts in a practical and functional manner.</p>
        </div>
        <div class="images-section">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project2.png?raw=true" alt="Circle Calculator">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project2-2.png?raw=true" alt="A sample image of the ordertaker">
        </div>
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const images = document.querySelectorAll('.images-section img');
        
        images.forEach(img => {
            img.addEventListener('click', () => {
                // Toggle the zoom class
                img.classList.toggle('zoomed');
                
                // Remove zoom from other images
                images.forEach(otherImg => {
                    if (otherImg !== img) {
                        otherImg.classList.remove('zoomed');
                    }
                });
            });
        });
    });
</script>

