<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles-project.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/" class="logo">
            <img src="https://raw.githubusercontent.com/kibrsifr/NodeJS-Portfolio-Website/main/resources/logoheader.png" alt="KBCORP PORTFOLIO Logo">
        </a>
        <nav>
            <a href="/">Return</a>
        </nav>
    </header>
    
    <section class="section" id="projects">
        <div class="main-content">
            <h1>Projects</h1>
            <div class="cards-container">
                <a href="/project1" class="card">
                    <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project1.png?raw=true" alt="Project 1">
                    <div class="card-text">
                        <h3>Population Calculator</h3>
                        <p>Estimates future population count.</p>
                    </div>
                    <div class="card-caption">Learn more</div>
                </a>
                <a href="/project2" class="card">
                    <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project2.png?raw=true" alt="Project 2">
                    <div class="card-text">
                        <h3>Circle Calculator</h3>
                        <p>Calculates the values of a circle.</p>
                    </div>
                    <div class="card-caption">Learn more</div>
                </a>
                <a href="/project3" class="card">
                    <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project3.png?raw=true" alt="Project 3">
                    <div class="card-text">
                        <h3>X-Files Personal Site</h3>
                        <p>A test for using Multi-File servers.</p>
                    </div>
                    <div class="card-caption">Learn more</div>
                </a>
                <a href="/project4" class="card">
                    <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project4.png?raw=true" alt="Project 4">
                    <div class="card-text">
                        <h3>Hotel Booking System</h3>
                        <p>A booking website that uses MongoDB.</p>
                    </div>
                    <div class="card-caption">Learn more</div>
                </a>
                <a href="/project5" class="card large-card">
                    <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project5.png?raw=true0" alt="Project 5">
                    <div class="card-text">
                        <h3>KBCorp Food Inventory System</h3>
                        <p>A web application that utilizes CRUD operations and MongoDB</p>
                    </div>
                    <div class="card-caption">Test Web Application</div>
                </a>
            </div>
        </div>
    </section>

    <script src="/script.js"></script>
</body>
</html>
