<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking System</title>
    <link rel="stylesheet" href="styles-projectpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="/project3" class="nav-button"><i class="fas fa-arrow-left"></i></a>
            <a href="/" class="logo">
                <img src="https://raw.githubusercontent.com/kibrsifr/NodeJS-Portfolio-Website/main/resources/logoheader.png" alt="KBCORP PORTFOLIO Logo">
            </a>
            <a href="/project5" class="nav-button"><i class="fas fa-arrow-right"></i></a>
        </nav>
    </header>
    <div class="main-content">
        <div class="text-section">
            <h1>Hotel Booking System</h1>
            <h2>An Introduction to MongoDB</h2>
            <p>Throwing visual art and design aside, this project focused on the development of a website that uses MongoDB as a database. The KBCorp Hotel Booking System allows users to input and manage booking details, including Booking ID, guest name, room type, check-in date, check-out date, number of guests, contact number, and email.</p>
            <p>Through this project, I learned how to effectively use MongoDB for data storage, manage bookings with dynamic inputs, and implement essential features for a functional booking system. This experience enhanced my skills in database management, backend development, and creating user-friendly interfaces.</p>
        </div>
        <div class="images-section">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project4.png?raw=true" alt="Main Interface">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project4-2.png?raw=true" alt="MongoDB Backend">
        </div>
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const images = document.querySelectorAll('.images-section img');
        
        images.forEach(img => {
            img.addEventListener('click', () => {
                // Toggle the zoom class
                img.classList.toggle('zoomed');
                
                // Remove zoom from other images
                images.forEach(otherImg => {
                    if (otherImg !== img) {
                        otherImg.classList.remove('zoomed');
                    }
                });
            });
        });
    });
</script>

