<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Population Calculator</title>
    <link rel="stylesheet" href="styles-projectpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="projects" class="nav-button"><i class="fas fa-arrow-left"></i></a>
            <a href="/" class="logo">
                <img src="https://raw.githubusercontent.com/kibrsifr/NodeJS-Portfolio-Website/main/resources/logoheader.png" alt="KBCORP PORTFOLIO Logo">
            </a>
            <a href="/project2" class="nav-button"><i class="fas fa-arrow-right"></i></a>
        </nav>
    </header>
    <div class="main-content">
        <div class="text-section">
            <h1>Population Calculator</h1>
            <h2>And other JavaScript Calculators</h2>
            <p>This project served as a foundational exploration into JavaScript programming. As an introduction to the language, the primary objective was to construct a diverse range of calculators utilizing JavaScript's capabilities. This involved developing tools for various applications, from assessing body mass index (BMI) to calculating payroll figures. While the project encompassed a multitude of calculator types, I was particularly drawn to creating a population calculator.</p>
            <p>The visual appeal of circular div containers ignited my interest in this specific task, providing an opportunity to experiment with design elements while solidifying my grasp of JavaScript fundamentals.</p>

        </div>
        <div class="images-section">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project1.png?raw=true" alt="Population Calculator">
            <img src="https://github.com/kibrsifr/NodeJS-Portfolio-Website/blob/main/resources/project1-2.png?raw=true" alt="A sample image of one of the other calculators I made">
        </div>
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const images = document.querySelectorAll('.images-section img');
        
        images.forEach(img => {
            img.addEventListener('click', () => {
                // Toggle the zoom class
                img.classList.toggle('zoomed');
                
                // Remove zoom from other images
                images.forEach(otherImg => {
                    if (otherImg !== img) {
                        otherImg.classList.remove('zoomed');
                    }
                });
            });
        });
    });
</script>

